.content-pg-1{
    margin-top: 80px;
    background-color: #f8f9fa;
    padding: 30px;
}

.content-pg-2{
    margin-top: 80px;
    background-color: #f8f9fa;
    padding-top: 30px;
    padding-bottom: 68px;
    padding-left: 30px;
    padding-right: 30px;
}

.bottom-part{

	bottom-padding:35px;
	margin-bottom:80px;
	
}

.caption img{
padding-right: 35px;

}

.images img{

padding-bottom: 25px;	
}